  <main class="h-screen flex items-center justify-center bg-cover bg-center relative" style="background-image: url('../../../assets/Obrazki/ferrari.png');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
  
    <div class="text-center relative z-10 px-6">
      <p class="text-5xl font-semibold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-blue-500">
        Carrently The Best!
      </p>
  
      <h1 class="mt-8 text-4xl font-bold tracking-tight text-white sm:text-5xl shadow-lg">
        Wysoki komfort, niskie ceny!
      </h1>
  
      <p class="mt-8 text-2xl leading-8 text-gray-200 sm:text-3xl shadow-sm">
        Nie czekaj! Wypożycz swój pojazd już teraz!
      </p>
  
      <div class="mt-10 ml-10 flex justify-between items-center px-10">
        <div class="flex-shrink-0">
          <a href="/rejestracja" class="inline-block bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-8 border rounded-full text-xl shadow-md transition-transform transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-green-300">
            Zarejestruj się!
          </a>
        </div>
      
        <div class="pace-y-2 mr-10">
          <p class="text-white text-xl">Masz już konto?</p>
          <a href="/logowanie" class="inline-block bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-8 border rounded-full text-xl shadow-md transition-transform transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-green-300 mt-3">
            Zaloguj się!
          </a>
        </div>
      </div>
    </div>
  </main>
  
  <router-outlet></router-outlet>