<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-5xl font-semibold kolorek">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Podana stronia nie istnieje!</h1>
      <p class="mt-6 text-2xl leading-7 text-gray-600">Sprawdź adres strony, lub przejdź na stronę główną</p>
      <div class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-5 border rounded-full inline-block mt-5 text-xl">
        <a href="/przegladaj" class="font-bold">Zabierz mnie stąd!</a>
      </div>
    </div>
  </main>
