.center-form-field {
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .center-date{
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .center-time{
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem;
  }

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::ng-deep .mat-calendar-body-today {
  background-color: #90caf9 !important;  /* Jasnoniebieski dla dzisiejszego dnia */
  color: #000000 !important;  /* Czarny tekst */
}