<div class="w-full max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <!-- Zdjęcie na górze -->
    <div class="relative">
      <img [src]="photos + wybranyPojazd.sciezkaDoZdjecia" alt="Zdjęcie pojazdu" class="w-full h-64 object-cover" />
    </div>
  
    <!-- Szczegóły pojazdu -->
    <div class="p-6">
      <h2 class="text-2xl font-bold mb-4">{{ wybranyPojazd.typ + ' ' + wybranyPojazd.marka + ' ' + wybranyPojazd.model }}</h2>
      <div class="space-y-2">
        <p class="text-lg"><span class="font-semibold">Cena za godzinę:</span> {{ wybranyPojazd.cenaK }} zł</p>
        <p class="text-lg"><span class="font-semibold">Cena za dzień:</span> {{ wybranyPojazd.cenaD }} zł</p>
        <p class="text-lg"><span class="font-semibold">Kaucja:</span> {{ kaucjaK }}</p>
        <p class="text-lg"><span class="font-semibold">Kaucja (wynajem powyżej 1 dnia):</span> {{ kaucjaD }}</p>
      </div>
    </div>

     <mat-radio-group [(ngModel)]="najemTyp" (change)="onNajemTypChange()">
      <mat-radio-button value="krotkoterminowy">Najem krótkoterminowy</mat-radio-button>
      <mat-radio-button value="dlugoterminowy">Najem długoterminowy</mat-radio-button>
    </mat-radio-group>

      <div *ngIf="najemTyp === 'krotkoterminowy'" class="center-date">
        <mat-form-field>
          <mat-label>Wybierz datę</mat-label>
          <input matInput [matDatepicker]="timePickerStart" placeholder="Wybierz godzinę" [(ngModel)]="wybranaData">
          <mat-datepicker-toggle matIconSuffix [for]="timePickerStart"></mat-datepicker-toggle>
          <mat-datepicker #timePickerStart type="time"></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="najemTyp === 'krotkoterminowy'" class="center-time">
        <mat-form-field>
          <mat-label>Godzina rozpoczęcia</mat-label>
          <input matInput [ngxMatTimepicker]="pickerStart" [(ngModel)]="godzinaRozpoczecia" placeholder="Wybierz godzinę rozpoczęcia" [format]="24">
          <ngx-mat-timepicker-toggle [for]="pickerStart" matSuffix></ngx-mat-timepicker-toggle>
          <ngx-mat-timepicker #pickerStart></ngx-mat-timepicker>
        </mat-form-field>

        <!-- Godzina zakończenia -->
        <mat-form-field class="ml-2">
          <mat-label>Godzina zakończenia</mat-label>
          <input matInput [ngxMatTimepicker]="pickerEnd" [(ngModel)]="godzinaZakonczenia" placeholder="Wybierz godzinę zakończenia" [format]="24">
          <ngx-mat-timepicker-toggle [for]="pickerEnd" matSuffix></ngx-mat-timepicker-toggle>
          <ngx-mat-timepicker #pickerEnd></ngx-mat-timepicker>
        </mat-form-field>
        </div>


    <div class="center-date" *ngIf="najemTyp === 'dlugoterminowy'">
      <mat-form-field>
        <mat-label>Wprowadż daty</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Początek">
          <input matEndDate formControlName="end" placeholder="Koniec">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="center-form-field">
      <button (click)="obliczCene()" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 mb-10 mt-1"> Oblicz cenę</button>
    </div>

    <div class="p-6" *ngIf="najemTyp === 'dlugoterminowy' && pokazCene === true">
      <p class="text-lg"><span class="font-semibold">Długość:</span> {{ dlugoscDlugoterminowego }} dni</p>
      <p class="text-lg"><span class="font-semibold">Cena:</span> {{ cena }} zł</p>
    </div>

    <div class="p-6" *ngIf="najemTyp === 'krotkoterminowy' && pokazCene === true">
      <p class="text-lg"><span class="font-semibold">Długość:</span> {{ dlugoscKrotkoterminowego }} godzin</p>
      <p class="text-lg"><span class="font-semibold">Cena:</span> {{ cena }} zł</p>
    </div>

    <div class="buttons">

        <button (click)="wypozycz()" class="bg-blue-600 text-white rounded hover:bg-blue-700 px-4 py-2">Wypożycz</button>
        <button (click)="cofnij()" class="bg-red-600 text-white rounded hover:bg-red-700 px-4 py-2 ml-1">Zamknij</button>
    </div>
</div>

<div *ngIf="pokazModal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">​</span>

    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <div class="sm:flex sm:items-start">
        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10">
          <svg class="h-6 w-6 text-yellow-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3l-4 4m0 0l-4 4m8-8h3a2 2 0 012 2v4a2 2 0 01-2 2h-3m-4-4h-4v4m0 0v4a2 2 0 002 2h4m-4-4h4v4" />
          </svg>
        </div>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
            Konieczność sprawdzenia trzeźwości
          </h3>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              Aby kontynuować, musisz teraz sprawdzić swoją trzeźwość. Wybierz opcję:
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-4 sm:flex sm:justify-between">
        <button type="button" (click)="sprawdzTeraz()" class="w-full sm:w-auto inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:text-sm">
          Sprawdź teraz
        </button>
        <button type="button" (click)="zamknijModal()" class="mt-3 w-full sm:ml-3 sm:mt-0 sm:w-auto inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
          Później
        </button>
      </div>
    </div>
  </div>
</div>


  
  
