<div class="flex justify-center mt-3">
    <h1 class="text-2xl font-bold">Dodaj Zdjęcie Pojazdu</h1>
</div>
<form #form="ngForm" (ngSubmit)="dodajZdjecie()" enctype="multipart/form-data" class="max-w-lg mx-auto">
    <div class="mb-5">
        <label for="zdjecie-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zdjęcie Pojazdu</label>
        <input type="file" name="plik" required (change)="onFileChange($event)" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="flex justify-center items-center">
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Dodaj Zdjęcie</button>
        <a [routerLink]="['/pojazd/lista']" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 ml-1">Anuluj</a>
    </div>
</form>