<div class="flex justify-center mt-3">
    <h1 class="text-2xl font-bold">Edycja pojazdu</h1>
</div>
<form #form="ngForm" (ngSubmit)="edytuj()" class="max-w-lg mx-auto">
    <div *ngIf="zmiany">


    <div class="mb-5">
        <label for="typ-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Typ Pojazdu</label>
        <input type="text" required name="typ" [(ngModel)]="zmiany.typ" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="marka-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Marka</label>
        <input type="text" required name="marka" [(ngModel)]="zmiany.marka" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="model-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Model</label>
        <input type="text" required name="model" [(ngModel)]="zmiany.model" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="skrzynia-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rodzaj Skrzyni</label>
        <input type="text" required name="skrzynia" [(ngModel)]="zmiany.rodzajSkrzyni" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="paliwo-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rodzaj Paliwa</label>
        <input type="text" required name="paliwo" [(ngModel)]="zmiany.rodzajPaliwa" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="rok-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rok Produkcji</label>
        <input type="number" required name="rokProdukcji" [(ngModel)]="zmiany.rokProdukcji" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="cenaK-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cena za godzinę</label>
        <input type="number" required name="cenaK" [(ngModel)]="zmiany.cenaK" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="mb-5">
        <label for="cenaD-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cena za dzień</label>
        <input type="number" required name="cenaD" [(ngModel)]="zmiany.cenaD" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    
    <div class="flex justify-center">
        <button type="submit" [disabled]="!form.valid" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 disabled:bg-blue-400 disabled:cursor-not-allowed">Zapisz zmiany</button>
        <a [routerLink]="['/pojazd/lista']" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 ml-1">Anuluj</a>
    </div>
</div>
  </form>
  
  